################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/secretManagement101/bin/Debug/net9.0
/src/secretManagement101/obj
